<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ProyectoProgra</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrarDatos</display-name>
    <servlet-name>RegistrarDatos</servlet-name>
    <servlet-class>co.edu.uptc.servlets.RegistrarDatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarDatos</servlet-name>
    <url-pattern>/RegistrarDatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarDatos</display-name>
    <servlet-name>MostrarDatos</servlet-name>
    <servlet-class>co.edu.uptc.servlets.MostrarDatos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarDatos</servlet-name>
    <url-pattern>/MostrarDatos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MostrarDatosAutores</display-name>
    <servlet-name>MostrarDatosAutores</servlet-name>
    <servlet-class>co.edu.uptc.servlets.MostrarDatosAutores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarDatosAutores</servlet-name>
    <url-pattern>/MostrarDatosAutores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarAutor</display-name>
    <servlet-name>RegistrarAutor</servlet-name>
    <servlet-class>co.edu.uptc.servlets.RegistrarAutor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarAutor</servlet-name>
    <url-pattern>/RegistrarAutor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrarProductos</display-name>
    <servlet-name>RegistrarProductos</servlet-name>
    <servlet-class>co.edu.uptc.servlets.RegistrarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarProductos</servlet-name>
    <url-pattern>/RegistrarProductos</url-pattern>
  </servlet-mapping>
</web-app>